*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: darkgrey;
    position: relative;
}

.div{
    position: absolute;    
}

#div1{
    background-color: blue;
    width: 250px;
    height: 250px;  
    left: calc(50vw - 125px); 
    top: calc(50vh - 125px);
}

#div2{
    background-color: red;
    width: 200px;
    height: 200px;
    left: calc(50vw - 100px); 
    top: calc(50vh - 100px);
}

#div3{
    background-color: black;
    width: 150px;
    height: 150px;
    left: calc(50vw - 75px); 
    top: calc(50vh - 75px);
}

#div4{
    background-color: green;
    width: 100px;
    height: 100px;
    left: calc(50vw - 50px); 
    top: calc(50vh - 50px);
}

#div5{
    background-color: yellow;
    width: 50px;
    height: 50px;  
    left: calc(50vw - 25px); 
    top: calc(50vh - 25px);  
}
